// variables
$header_height: 50px;
$menu-width: 80vw;

// Color

$midnight-blue: #2c3e50;
$light-black: #3a3535;

$old-audio-red: #ce6060;
$old-red-border: #b65555;

$white: #fff;

$palette_darker: #383838;
$palette_dark: #565656;
$palette_oxblood: #76323f;
$palette_grain: #d7cec7;
$palette_tan: #c09f80;


// $palette_darker: #292F36;
// $palette_dark: #FF6B6B;
// $palette_oxblood: #51355A;
// $palette_grain: #F7FFF7;
// $palette_tan: #FFF8F0;
