// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ddd;
  background-color: #111;
  .container {
    text-align: center;
    .randomPlay {
      display: inline-block;
      height: 75px;
      width: 75px;
      background: url('.././assets/play-button.png') no-repeat 100%/contain;
    }
  }
}
