// bower:scss
// endbower

@import 'constants.scss';
@import 'mixins.scss';

@include font-face(roboto-regular);
@include font-face(OpenSans-Semibold);
@include font-face(OpenSans-Regular);

body {
  font-family: OpenSans-Regular, Helvetica, sans-serif;
  color: #fff;
  background-color: $palette_darker;
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);

  .icon {
    fill: $palette_grain;
  }
  .container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-out;
    margin-left: 0;

    .overlay {
      display: none;
    }

    .header {
      position: relative;
      height: $header_height;
      display: flex;
      flex-flow: row nowrap;

      .menu-bar {
        display: flex;
        width: 50px;
        justify-content: center;
        align-items: center;

        .menu-icon {
          height: 20px;
          width: 20px;
        }
      }

      .title {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: $menu-width;
        height: $header_height;
        text-align: center;
        background: url('./../assets/images/murmur-logo.png') center center / 35% no-repeat;
        transition: all 0.3s linear;
        // animation: title-slide 0.3s ease-in;
      }
    }

    .audioSection {
      position: fixed;
      top: $header_height;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      height: calc(80% - #{$header_height});
      overflow-y: auto;
      color: $palette_dark;
      background-color: $palette_dark;
      // margin-top: 20px;
      .audioItem {
        background-color: $palette_grain;
        padding: 10px 20px;
        min-height: 65px;
        max-height: 65px;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: 1px solid transparentize($palette_tan, 0.7);

        .audioImage {
          width: 40px;
          height: 40px;
          margin: 0 0 10px;

          .audio-icon {
            fill: $palette_dark;
          }
        }

        .audioName {
          margin-left: 25px;
          width: 35%;
          text-align: left;
        }
        /* Number slider ------------------- */
        .slider {
          width: 45%;
          height: 1px;
          margin-left: auto;

          .noUi-handle {
            width: 12px;
            height: 12px;
            left: -5px;
            border: 0;
            border-radius: 20px;

            &:after,
            &:before {
              display: none;
            }
          }
        }

        &.active {
          background-color: $palette_dark;
          color: $palette_grain;

          .audio-icon {
            fill: $palette_grain;
          }
        }
      }
    }

    .playSection {
      position: fixed;
      z-index: 5;
      bottom: 0;
      height: 20%;
      min-height: 85px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $palette_darker;

      .randomPlay, .play_pause {
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;

        .control {
          height: 30px;
          width: 30px;
        }

        .control-icon {
          height: 65px;
          width: 65px;

          &.play-icon {
            margin-left: 6px;
          }
        }

        &.pause,
        &.play {
          height: 65px;
          width: 65px;
          padding: 15px;
          border: 3px solid $palette_grain;
          border-radius: 100%;
        }

        &.hidden {
          display: none;
        }
      }
    }

    &.menu-active {
      margin-left: $menu-width;
      .header .title {
        position: fixed;
        height: $header_height;
        width: $menu-width;
        z-index: 9;
        top: 0;
        left: 0;
        transform: none;
      }
      .overlay {
        position: absolute;
        z-index: 6;
        width: 100%;
        height: calc(100vh - #{$header_height});
        display: block;
        background-color: transparentize(#000, 0.6);
      }
      // animation: container-slide 0.3s ease-out;
    }
  }

  .menu {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: $menu-width;
    height: calc(100vh - #{$header_height});
    color: $palette_grain;
    background-color: $palette_dark;
    display: flex;
    flex-flow: column nowrap;
    padding-top: $header_height;
    margin-left: 0;
    transition: margin 0.3s ease-out;

    &-option {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 65px;
      border-bottom: 1px solid transparentize($palette_tan, 0.7);
      background-color: $palette_darker;

      .option {
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;

        .option-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000, 0.4);
    top: 0;
    left: 0;
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;

    .modal-content {
      position: absolute;
      transform: scale(0);
      width: 80%;
      border-radius: 20px;
      color: $palette_dark;
      background-color: $palette_grain;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .modal-header {
        padding: 10px 0;
        line-height: 1;
        font-size: 18px;
        font-family: OpenSans-Semibold, Helvetica, sans-serif;
      }

      .cancel-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        padding: 10px;
        .icon {
          fill: $palette_dark;
        }
      }

      .modal-body {
        font-size: 14px;
        text-align: center;
        padding: 5px 15px 15px;
        box-sizing: border-box;
        max-height: 300px;
        width: 100%;
        overflow-y: auto;
        position: relative;

        .about {
          margin-top: 10px;
          text-align: left;
        }

        .feedback-textarea {
          outline: 0;
          resize: none;
          border: 1px solid transparentize($palette_dark, 0.5);
          width: 100%;
          padding: 5px;
          color: $palette_dark;
          font-size: 14px;
          min-height: 150px;
          max-height: 150px;
          box-sizing: border-box;
          background-color: transparent;
        }
        .placeholder-text {
          position: absolute;
          pointer-events: none;
          line-height: 1;
          font-size: 14px;
          left: 20px;
          top: 13px;
          color: transparentize($palette_dark, 0.5);
        }
      }

      .feedback-button {
        width: 100%;
        height: 40px;
        background-color: $palette_darker;
        color: $palette_grain;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.active {
      display: flex;
      .modal-content {
        animation: modal-popin 0.3s ease-in;
        transform: scale(1);
      }
    }

    &.animate-close {
      .modal-content {
        animation: modal-popout 0.3s ease-out forwards;
        transform: scale(0);
      }
    }
  }

  .menu-hidden {
    display: flex;
    margin-left: -$menu-width;
  }

  .hidden {
    display: none;
  }

  &.hideOverflow {
    overflow: hidden;
  }
}

// animations
@keyframes modal-popin {
  0% {
    display: none;
    transform: scale(0);
  }
  100% {
    display: flex;
    transform: scale(1);
  }
}

@keyframes modal-popout {
  0% {
    display: flex;
    transform: scale(1);
  }
  100% {
    display: none;
    transform: scale(0);
  }
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 425px) {
  .audioItem {
    flex: 0 0 100%;
    height: 100px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation: landscape) {
  body {
    $menu-width: 40vw;
    .container {
      &.menu-active {
        margin-left: $menu-width;
        .header .title {
          width: $menu-width;
        }
      }

      .header {
        .title {
          width: $menu-width;
        }
      }

      .playSection {
        .randomPlay {
          .control {
            height: 25px;
            width: 25px;
          }

          .control-icon {
            height: 45px;
            width: 45px;

            &.play-icon {
              margin-left: 6px;
            }
          }

          &.pause, &.play {
            height: 45px;
            width: 45px;
            padding: 10px;
          }
        }
      }
    }
    .menu {
      width: $menu-width;
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .audioItem {
    flex: 0 0 100%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .audioItem {
    flex: 0 0 15%;
  }
}
