body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #25828e;
  margin: 0;
  width: 100%;
  height: 100%;
  .container {
    text-align: center;
    width: 100%;
    height: 100%;
    .randomPlay {
      display: inline-block;
      height: 75px;
      width: 75px;
      &.play {
        background: url('.././assets/images/play-button.png') no-repeat 100%/contain;
      }
      &.pause {
        background: url('.././assets/images/pause-button.png') no-repeat 100%/contain;
      }
      &.shuffle {
        background: url('.././assets/images/shuffle-button.svg') no-repeat 100%/50%;
      }
      &.save {
        background: url('.././assets/images/save-button.svg') no-repeat 100%/50%;
      }
      }

  .hidden {
    display: none;
  }
}
